<div class="sc-header">

    <a href="/"><h1 class="title">{{@blog.title}}</h1></a>
    <h2 class="description">{{@blog.description}}</h2>

    <div class="sc-header-right">
        <a href="/about" class="top-menu-link">About</a>
        <a href="#" class="top-menu-link">Submit Article</a>
        <a class="top-menu-icon icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <span class="hidden">Twitter</span>
        </a>
        <a class="top-menu-icon icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <span class="hidden">Facebook</span>
        </a>
        <a class="icon-youtube" href="https://plus.google.com/share?url={{url absolute="true"}}"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <span class="hidden">Google+</span>
        </a>
    </div>
</div>
